---
import slugify from "../../slugify";
import operators from "../../../data/operators.json";
import TraitInfo from "../../components/TraitInfo";
import Layout from "../../layouts/Layout.astro";
import CharacterStats from "../../components/CharacterStats";

import type * as OutputTypes from "../../output-types";

import * as classes from "./[slug].css";

export function getStaticPaths() {
  return Object.entries(operators)
    .filter(
      ([_, char]) =>
        char.profession !== "TOKEN" &&
        char.profession !== "TRAP" &&
        !char.isNotObtainable
    )
    .map(([charId, char]) => ({
      params: {
        slug: slugify(char.name),
      },
      props: { charId },
    }));
}
const { slug } = Astro.params;
const { charId } = Astro.props;
const char: OutputTypes.Character = operators[charId as keyof typeof operators];
const { subProfessionId } = char;
---

<Layout title={char.title}>
  <h1 class={classes.heading}>{char.name}</h1>
  <TraitInfo
    client:visible
    subProfessionId={subProfessionId}
    showSubclassIcon
  />
  <CharacterStats client:load characterObject={char} />
</Layout>
