---
import slugify from "../../slugify";
import operatorsJson from "../../../data/operators.json";
import summonsJson from "../../../data/summons.json";
import Layout from "../../layouts/Layout.astro";
import * as classes from "./_[slug].css";
import { linkStyle } from "../../theme.css";
import { operatorAvatar } from "../../utils/images";
import CharacterSplash from "../../components/CharacterSplash";
import OperatorInfo from "../../components/OperatorInfo/OperatorInfo.astro";
import InterpunctSpacer from "../../components/InterpunctSpacer/InterpunctSpacer.astro";
import OperatorTabs from "../../components/OperatorTabs/OperatorTabs";
import SvgRarityGradientDefs from "../../components/SvgRarityGradientDefs";
import { operatorIdStore, summonsStore } from "./_store";

import type * as OutputTypes from "../../output-types";

export function getStaticPaths() {
  return Object.entries(operatorsJson).map(([operatorId, operator]) => {
    return {
      params: {
        slug: slugify(operator.name),
      },
      props: { operatorId },
    };
  });
}

const { operatorId } = Astro.props;
const operator = operatorsJson[
  operatorId as keyof typeof operatorsJson
] as OutputTypes.Character;
const summons = summonsJson[
  operatorId as keyof typeof summonsJson
] as unknown as OutputTypes.Character[] | undefined;
operatorIdStore.set(operatorId);
summonsStore.set(summons);
---

<script slot="head" define:vars={{ operatorId, summons }}>
  window.operatorId = operatorId;
  window.summons = summons;
</script>

<Layout title={operator.name}>
  <div class={classes.container}>
    <div class={classes.characterNavigation}>
      <ul class={classes.characterNavigationList}>
        <li class={classes.characterNavigationItem.default}>
          <a href="#" class={linkStyle}>Operators</a>
        </li>
        /
        <li class={classes.characterNavigationItem.bold}>{operator.name}</li>
        <InterpunctSpacer />
        <li class={classes.characterNavigationItem.alter}>
          <img
            class={classes.characterNavigationAlterImage}
            src={operatorAvatar(operatorId)}
          /><span>{operator.name}</span>
        </li>
      </ul>
      <!-- TODO: Make this a component? -->
      <a class={classes.operatorGuideButton} href="#"
        ><span class={classes.operatorGuideButtonText}>Operator Guide</span>
        <svg
          width="16"
          height="16"
          viewBox="0 0 16 16"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M8 0C8 4.41828 4.41828 8 0 8C4.41828 8 8 11.5817 8 16C8 11.5817 11.5817 8 16 8C11.5817 8 8 4.41828 8 0Z"
            fill="url(#paint0_linear_4270_17189)"></path>
          <defs>
            <linearGradient
              id="paint0_linear_4270_17189"
              x1="8"
              y1="0"
              x2="8"
              y2="16"
              gradientUnits="userSpaceOnUse"
            >
              <stop stop-color="#FED874"></stop>
              <stop offset="1" stop-color="#FFC397"></stop>
            </linearGradient>
          </defs>
        </svg>
      </a>
    </div>
    <div class={classes.characterContainer}>
      <section>
        <CharacterSplash client:visible />
      </section>
      <section>
        <OperatorInfo operator={operator} />
        <OperatorTabs client:visible />
      </section>
    </div>
    <div>
      <a class={classes.dpsCalculatorButton} href=""
        ><img
          class={classes.characterNavigationAlterImage}
          src={operatorAvatar(operatorId)}
        /><span>View in DPS Calculator</span>
      </a>
    </div>
  </div>
  <!-- <h1 class={classes.heading}>{operator.name}</h1> -->
  <!-- <CharacterStats client:visible characterObject={operator} /> -->
  <SvgRarityGradientDefs />
</Layout>
