---
import { getPicture } from "@astrojs/image";

import slugify from "../../slugify";
import operatorsJson from "../../../data/operators.json";
import Layout from "../../layouts/Layout.astro";
import * as classes from "./_[slug].css";
import { linkStyle } from "../../theme.css";
import {
  importOperatorAvatar,
  importOperatorFullart,
  operatorAvatar,
} from "../../utils/images";
import { getRelatedCharacter } from "../../utils/related-character";
import CharacterSplash from "../../components/CharacterSplash";
import OperatorInfo from "../../components/OperatorInfo/OperatorInfo.astro";
import InterpunctSpacer from "../../components/InterpunctSpacer/InterpunctSpacer.astro";
import OperatorTabs from "../../components/OperatorTabs";
import SvgRarityGradientDefs from "../../components/SvgRarityGradientDefs";
import { operatorIdStore } from "./_store";

import type * as OutputTypes from "../../output-types";
import type { GetPictureResult } from "@astrojs/image/dist/lib/get-picture";

export function getStaticPaths() {
  return Object.entries(operatorsJson).map(([operatorId, operator]) => {
    return {
      params: {
        slug: slugify(operator.name),
      },
      props: { operatorId },
    };
  });
}

const { operatorId } = Astro.props;
const operator = operatorsJson[
  operatorId as keyof typeof operatorsJson
] as OutputTypes.Operator;
operatorIdStore.set(operatorId);
const relatedOperator = getRelatedCharacter(operator);
const pictureDataMap: {
  [skinId: string]: { avatar: GetPictureResult; fullart: GetPictureResult };
} = Object.fromEntries(
  await Promise.all(
    operator.skins.map(async (skin) => {
      const avatar = await getPicture({
        src: importOperatorAvatar(skin),
        alt: skin.name,
        widths: [64],
        aspectRatio: "1:1",
        formats: ["avif"],
      });
      const fullart = await getPicture({
        src: importOperatorFullart(skin),
        alt: skin.name,
        widths: [639],
        formats: ["avif"],
      });
      return [skin.skinId, { avatar, fullart }];
    })
  )
);
---

<script slot="head" define:vars={{ operatorId }}>
  window.operatorId = operatorId;
</script>

<Layout title={operator.name}>
  <div class={classes.container}>
    <div class={classes.characterNavigation}>
      <ul class={classes.characterNavigationList}>
        <li class={classes.characterNavigationItem.default}>
          <a href="/operators" class={linkStyle}>Operators</a>
        </li>
        /
        <li class={classes.characterNavigationItem.bold}>{operator.name}</li>

        {
          relatedOperator && (
            <>
              <InterpunctSpacer />
              <li>
                <a
                  class={classes.characterNavigationItem.alter}
                  href={`/operators/${slugify(relatedOperator.name)}`}
                >
                  <img
                    class={classes.characterNavigationAlterImage}
                    src={operatorAvatar(relatedOperator.charId)}
                  />
                  <span>{relatedOperator.name}</span>
                </a>
              </li>
            </>
          )
        }
      </ul>
      <!-- TODO: Make this a component? -->
      <a class={classes.operatorGuideButton} href="#"
        ><span class={classes.operatorGuideButtonText}>Operator Guide</span>
        <svg
          width="16"
          height="16"
          viewBox="0 0 16 16"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M8 0C8 4.41828 4.41828 8 0 8C4.41828 8 8 11.5817 8 16C8 11.5817 11.5817 8 16 8C11.5817 8 8 4.41828 8 0Z"
            fill="url(#paint0_linear_4270_17189)"></path>
          <defs>
            <linearGradient
              id="paint0_linear_4270_17189"
              x1="8"
              y1="0"
              x2="8"
              y2="16"
              gradientUnits="userSpaceOnUse"
            >
              <stop stop-color="#FED874"></stop>
              <stop offset="1" stop-color="#FFC397"></stop>
            </linearGradient>
          </defs>
        </svg>
      </a>
    </div>
    <div class={classes.characterContainer}>
      <section>
        <CharacterSplash client:visible pictureDataMap={pictureDataMap} />
      </section>
      <section>
        <OperatorInfo operator={operator} />
        <OperatorTabs client:visible />
      </section>
    </div>
    <div>
      <a class={classes.dpsCalculatorButton} href=""
        ><img
          class={classes.characterNavigationAlterImage}
          src={operatorAvatar(operatorId)}
        /><span>View in DPS Calculator</span>
      </a>
    </div>
  </div>
  <!-- <h1 class={classes.heading}>{operator.name}</h1> -->
  <!-- <CharacterStats client:visible characterObject={operator} /> -->
  <SvgRarityGradientDefs />
</Layout>
