---
import { getPicture } from "@astrojs/image";

import Layout from "../../layouts/Layout.astro";
import operatorsJson from "../../../data/operators.json";
import slugify from "../../slugify";
import * as classes from "./_index.css";
import { importOperatorPortrait } from "../../utils/images";

import type * as OutputTypes from "../../output-types";
import type { GetPictureResult } from "@astrojs/image/dist/lib/get-picture";

const operators = Object.values(operatorsJson) as OutputTypes.Operator[];
const portraitPictures: { [operatorId: string]: GetPictureResult } =
  Object.fromEntries(
    await Promise.all(
      operators.map(async (op) => {
        const picture = await getPicture({
          src: importOperatorPortrait(op.charId),
          alt: "",
          widths: [150],
          aspectRatio: "1:2",
          formats: ["avif", "webp"],
        });
        return [op.charId, picture];
      })
    )
  );
---

<Layout title="Operator List">
  <h1 class={classes.h1}>Operator List</h1>
  <ul class={classes.operatorList}>
    {
      operators.map((op) => {
        const pictureData = portraitPictures[op.charId];
        return (
          <li>
            <a
              href={`/operators/${slugify(op.name)}`}
              class={classes.operatorCard}
            >
              <h2>{op.name}</h2>
              <picture>
                {pictureData.sources.map((sourceProps) => (
                  <source {...sourceProps} />
                ))}
                <img {...pictureData.image} loading="lazy" />
              </picture>
            </a>
          </li>
        );
      })
    }
  </ul>
</Layout>
