---
export interface Props {
  title: string;
  previousLocation?: string;
  previousLocationLink?: string;
}

const { title, previousLocation, previousLocationLink } = Astro.props;

import DiscordLogo from "../components/icons/DiscordLogo.astro";
import TwitterLogo from "../components/icons/TwitterLogo.astro";
import SanityGoneLogo from "../components/SanityGoneLogo/SanityGoneLogo.astro";
import NavigationLink from "../components/NavigationLink/NavigationLink.astro";
import SearchBar from "../components/SearchBar";

import * as classes from "./Layout.css";
import "../global-styles.css";

const sidebarLinks = [
  {
    href: "/",
    name: "Home",
  },
  {
    href: "/operators",
    name: "Operators",
  },
  {
    href: "/dps",
    name: "DPS Calculator",
  },
];
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" cross-origin="" />
    <link
      href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap"
      rel="stylesheet"
    />
    <title>{title}</title>
  </head>
  <body>
    <div class={classes.siteWrapper}>
      <div class={classes.sidebar}>
        <div class={classes.logoContainer}>
          <SanityGoneLogo hasIcon={true} />
        </div>
        <nav class={classes.navigation}>
          {
            sidebarLinks.map(({ href, name }) => (
              <NavigationLink
                href={href}
                name={name}
                active={
                  href === "/"
                    ? Astro.url.pathname === "/"
                    : Astro.url.pathname.startsWith(href)
                }
              />
            ))
          }
        </nav>
        <!-- <div class={classes.sidebarSpacer}></div> -->
        <footer class={classes.footer}>
          <div class={classes.footerLogos}>
            <DiscordLogo />
            <TwitterLogo />
          </div>
          <hr class={classes.hr} />
          <p class={classes.footerParagraph}>
            Sanity;Gone is a community resource for Arknights players, providing
            quick guides, reviews, and detailed information about the game.
          </p>
          <!-- Shut up, I'm prototyping -->
          <a class={classes.footerLink}>
            Disclaimer&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;About&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Contact
          </a>
        </footer>
      </div>
      <div class={classes.mainbar}>
        <div class={classes.topbar}>
          <div class={classes.searchBarContainer}>
            <SearchBar placeholder="Oh yeah, search it good." client:load />
          </div>
        </div>
        <main class={classes.content}>
          <slot />
        </main>
      </div>
    </div>
    <style is:global>
      html {
        font-family: "Source Sans Pro", sans-serif;
      }
    </style>
  </body>
</html>
