---
export interface Props {
  title: string;
  previousLocation?: string;
  previousLocationLink?: string;
}

const { title, previousLocation, previousLocationLink } = Astro.props;

import SanityGoneLogo from "../components/SanityGoneLogo/SanityGoneLogo.astro";
import SearchBar from "../components/SearchBar";

import * as classes from "./Layout.css";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" cross-origin="" />
    <link
      href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap"
      rel="stylesheet"
    />
    <title>{title}</title>
  </head>
  <body>
    <div class={classes.siteWrapper}>
      <div class={classes.sidebar}>
        <div class={classes.logoContainer}><SanityGoneLogo /></div>
        <div class={classes.navigation}>
          <div class={classes.navLink}><a>Something</a></div>
          <div class={classes.navLink}><a>Something</a></div>
          <div class={classes.navLink}><a>Something</a></div>
        </div>
        <div class={classes.sidebarSpacer}></div>
        <div class={classes.footer}>
          <div class={classes.footerLogos}>logos go here (eventually)</div>
          <hr />
          <p>
            Sanity;Gone is a community resource for Arknights players, providing
            quick guides, reviews, and detailed information about the game.
          </p>
          <!-- Shut up, I'm prototyping -->
          <a>
            Disclaimer&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;About&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Contact
          </a>
        </div>
      </div>
      <div class={classes.mainbar}>
        <div class={classes.topbar}>
          <div class={classes.searchBarContainer}>
            <SearchBar placeholder="Oh yeah, search it good." client:load />
          </div>
        </div>
        <div class={classes.content}>
          <slot />
        </div>
      </div>
    </div>
    <style is:global>
      html {
        font-family: "Source Sans Pro", sans-serif;
      }
    </style>
  </body>
</html>
